@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $brand02;

  display: grid;
  grid-template-rows: 152px 1fr 64px;
  // grid-template-areas: "header" "content" "footer";

  min-height: 100vh;
}

.button {
  min-width: 254px;
  min-height: 48px;
  border: none;
  border-radius: $form_fields_border_radius;
  @extend .h3;
}

.h3 {
  font-family: $font_family;
  font-style: normal;
  //font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.content {
  grid-row: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;

  //grid-area: content;
}

.container {
  &-form {
    min-width: 988px;

    &__buttons {
      display: flex;
      justify-content: flex-end;

      &--inputs {
        display: flex;
        justify-content: space-between;

        //min-height: 48px;
        min-width: 524px;

        @media (max-width:$phone) {
          flex-direction: column;
          min-width: 150px;
          width: 100%;
        }
      }
    }

    &__description {
      background-color: $ui03;
      //color: $ui05;

      width: 100%;
      min-height: 272px;
      border-radius: $form_fields_border_radius;
    }

    &__label {
      color: $white;
      font-family: $font_family;
      font-style: normal;
      //font-weight: 600;
      font-size: 24px;
      line-height: 32px;

      margin-bottom: 32px;

      @media (max-width: $phone){
        font-size: 14px;

      }
    }

    &__load {
      @extend .button;
      background-color: $ui03;
      color: $brand02;

      @media (max-width:$phone) {
        margin-bottom: 8px;
      }
    }

    &__paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__save {
      @extend .button;
      background-color: $ui06;
      color: $white;
    }

    @media (max-width: $tablet){
      min-width: 0;
    }
  }
}

.footer {
  grid-row: 3;
  //grid-area: footer;
  //margin-bottom: 8px;
  font-family: $font_family;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__link {
    text-decoration: none;
    color: $white;
    font-weight: bold;
  }

  &__paragraph {
    color: $white;
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.site-header {
  grid-row: 1;
  //grid-area: header;
  max-height: 152px;

  &__header {
    color: $white;
    font-family: $font_family;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;

    margin-top: 64px;
    margin-left: 160px;

    @media (max-width: $smaller_pc){
      margin-left: 32px;
      margin-right: 32px;
      font-size: 34px;
    }
  }
}
